.contact-form {
  background: #fff;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 40px auto;
  font-family: 'Open Sans', sans-serif;
}

.contact-form label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  border: 1px solid #e0b437;
  box-shadow: 0 0 8px rgba(224, 180, 55, 0.8);
}

.contact-form button {
  width: 100%;
  padding: 15px;
  background-color: #e0b437;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.contact-form button:hover {
  background-color: #c68a2e;
}

.contact-form .view-listings {
  background-color: #e0b437;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  color: white;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-form .view-listings:hover {
  background-color: #c68a2e;
}

.contact-form .contact-message {
  font-size: 1.1rem;
  font-weight: normal;
  color: #666;
  text-align: center;
}

.contact-form textarea {
  resize: vertical;
  min-height: 200px;
}
